form{
    background: aliceblue;
    width: 24%;
    border-radius: 22px;
    padding: 20px;
    padding-left: 72px;
    margin: 16%;
    margin-left: 35%;
    margin-bottom: 57px;
  
}
label{    font-size: 20px;
    /* padding-bottom: 12px; */
    padding: 1px;}
    input{    height: 27px;
        border-radius: 7px;
        margin-top: 11px;
        margin-bottom: 11px;}
        button{
            width: 10%;
            height: 42px;
            border-radius: 9px;
            background: aliceblue;
            margin-top: -37%;
            margin-left: 36%;
            margin-bottom: 27%;
        }
        .t{    margin-left: 20px;}