nav ul {
    margin: -8px;
    display: flex;
}

nav li {
    /*display: inline;*/
        margin-right: 60px;
    padding-top: 16px;
    padding-bottom: 7px;
    margin-left: 62px;
}

nav a {
    /*display: inline-block;
    padding: .5em;*/
    color: rgb(75, 159, 192);
    text-decoration: none;
    margin-left: 48px;
}
#nav{
    width: 28px;
    height: auto;
    margin-right: 14px;
    margin-top: -9px;
}
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}
.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-size:contain;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
